{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    <div class="post-tags">
        {{#get "tags" limit="all"}}
            {{#foreach tags}}
                <a class="tag tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a>
            {{/foreach}}
        {{/get}}
    </div>

    <div class="post-feed gh-feed">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

</main>
</div>
