.post-feed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.post-link {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post-link:hover {
    opacity: 1;
}

.post-image {
    width: 100%;
}

.post-wrapper {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--white-color);
}

.post-tag {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    color: var(--tag-color, var(--ghost-accent-color));
    text-transform: uppercase;
    letter-spacing: 0.005em;
}

.post-title {
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.35;
}

.has-serif-title .post-title {
    font-family: var(--font-serif);
}

.post-excerpt {
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.6;
}

.has-serif-body .post-excerpt {
    font-family: var(--font-serif);
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding: 0 20px;
    background-color: var(--white-color);
    border-top: 1px solid var(--light-gray-color);
}

.post-more {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.005em;
}

.post-tags {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.post-tags::-webkit-scrollbar {
    display: none;
}

.post-tags .tag {
    background-color: var(--ghost-accent-color);
    border-radius: 50rem;
    color: #fff;
    display: inline-block;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    margin-right: 6px;
    padding: .35em .65em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .post-feed {
        grid-template-columns: 1fr;
    }

    .post-tags .tag {
        font-size: .9em;
        padding: .5em 1em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .post-feed {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .post-feed {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .is-head-stacked .post-feed {
        margin-top: 32px;
    }
}
